<?xml version="1.0"?>
<config>
    <modules>
        <Marceli_NCC>
            <version>0.1.0</version>
        </Marceli_NCC>
    </modules>
    <frontend>
        <routers>
            <marceli_ncc>
                <use>standard</use>
                <args>
                    <module>Marceli_NCC</module>
                    <frontName>ncc</frontName>
                </args>
            </marceli_ncc>
        </routers>
        <layout>
            <updates>
                <marceli_ncc>
                    <file>marceli/ncc.xml</file>
                </marceli_ncc>
            </updates>
        </layout>
        <translate>
            <modules>
                <Marceli_NCC>
                    <files>
                        <default>Marceli_NCC.csv</default>
                    </files>
                </Marceli_NCC>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <marceli_ncc>
                <class>Marceli_NCC_Helper</class>
            </marceli_ncc>
        </helpers>
        <blocks>
            <marceli_ncc>
                <class>Marceli_NCC_Block</class>
            </marceli_ncc>
        </blocks>
        <models>
            <marceli_ncc>
                <class>Marceli_NCC_Model</class>
                <resourceModel>marceli_ncc_mysql4</resourceModel>
            </marceli_ncc>
            <marceli_ncc_mysql4>
                <class>Marceli_NCC_Model_Mysql4</class>
                <entities>
                    <codes>
                        <table>marceli_newsletter_counpon_code</table>
                    </codes>
                </entities>
            </marceli_ncc_mysql4>
        </models>
        <resources>
            <marceli_ncc_setup>
                <setup>
                    <module>Marceli_NCC</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </marceli_ncc_setup>
            <marceli_ncc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marceli_ncc_write>
            <marceli_ncc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marceli_ncc_read>
        </resources>
        <events>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <marceli_ncc_subscriber_after>
                        <class>Marceli_NCC_Model_Observer</class>
                        <method>subscribedToNewsletter</method>
                    </marceli_ncc_subscriber_after>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <newsletter_subscriber_save_before>
                <observers>
                    <marceli_ncc_subscriber_before>
                        <class>Marceli_NCC_Model_Observer</class>
                        <method>subscribeToNewsletter</method>
                    </marceli_ncc_subscriber_before>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <marceli_ncc after="Mage_Adminhtml">Marceli_NCC_Adminhtml</marceli_ncc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ncc>
                    <file>marceli/ncc.xml</file>
                </ncc>
            </updates>
        </layout>
    </adminhtml>
</config>